.box {
    background-color: #1b1a1a;
    border: 2px solid rgb(241, 235, 235);
    border-radius: 5%;
    box-shadow: 8px 13px 8px #a01c1c;
    width: 5rem;
    height: 5rem;
    text-align: center;
    font-size: 5em;
    font-family: "Fredoka", sans-serif;
    font-weight: bold;
    line-height: 5rem;
    margin: 0.5rem;
  }
  
  .x {
    color: rgb(185, 35, 8);
  }
  
  .o {
    color: rgb(46, 219, 11);
  }
  
  .box:hover {
    box-shadow: 10px 15px 8px #a01c1c;
  }